{% extends 'base.html'%}

{% block heading %}
    <div class="title">
        eventbyte
    </div> 
{% endblock %}

{% block content %}
   <p class="standardContent">
        <span class="titleRef">eventbyte</span> is an ease-of-life software application designed to easily create and distribute tickets for events.
        Initially designed for the Department of Computer Science at the <strong>University of Warwick</strong>, the application was used for departmental events,
        and the occasional society social. Since its release, <span class="titleRef">eventbyte</span> has grown into the forefront of modern digital ticketing, having been
        used in over 20 timezones.<br>
        
        <br> The application is built on <span style="font-weight: bold; color: #ffde57;">Pyt</span><span style="font-weight: bold; color: #4584b6">hon</span>,
        <strong>Flask</strong>, and <strong>Flask-SQLAlchemy</strong> using <span style="font-weight: bold; color: #0F80C9;">SQLite3</span>, as well as the use of <span style="font-weight:bold; color: #f0db4f;">JavaScript</span> and <span style="font-weight: bold; color: #0769ad;">JQuery</span>
        to boost the user experience.
        <br><br>
        <strong>Extra features will be listed here when added.</strong>
   </p> 
{% endblock %}