{% extends "base.html" %}

{% block heading %}
    <div class="title subtitle">
        My Events
    </div>    
{% endblock %}

{% block content %}
    <br>
    <div id="allMyEvents" class="loginFlashes">
        
        <div class="eventSecTitle" id="upcoming">
            My Upcoming Events
        </div>
        <div id="longUnderline"></div><br>
        <div id="upcomingEvents">
            {% with events=upcomingEvents %}
                {% include "eventList.html" %}
            {% endwith %}
        </div><br>

        <div class="eventSecTitle" id="cancelled">
            My Cancelled Events
        </div>
        <div id="longUnderline"></div><br>
        <div id="cancelledEvents">
            {% with events=cancelledEvents %}
                {% include "eventList.html" %}
            {% endwith %}
        </div><br>

        <div class="eventSecTitle" id="completed">
            My Completed Events
        </div>
        <div id="longUnderline"></div><br>
        <div id="completedEvents">
            {% with events=completedEvents %}
                {% include "eventList.html" %}
            {% endwith %}
        </div><br>
    </div>
    <script src='/static/js/boughtEventsView.js'></script>
{% endblock %}

