{% extends 'base.html' %}
{% block heading %}
    {% if current_user.is_authenticated %}
        <div class="title subtitle">
            Welcome, {{ current_user.username }}
        </div>
    {% else %}
        <div class="title">
            eventbyte
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="loginFlashes">
            {% for message in messages %}
            <p> {{ message }} </p>
            {% endfor %} 
        </div>
        {% else %}
            {% if not current_user.is_authenticated %}
                <h3 class="standardContent" style="text-align: center; margin-top: 3px;">To book or edit your events, log in or register.</h3>
            {% else %}
                <br>
            {% endif %}
        {% endif %}
    {% endwith %}

    {% include "eventList.html" %}
{% endblock %}

<!-- 
Stuff that still needs adding.

NEED TO ADD WRAPPING FOR WHEN MULTIPLE EVENTS ARE ADDED. NEED THEM TO BE A GRID BASICALLY.

JavaScript stuff? Maybe some Fade In and Fade Out for certain pages e.g. the About page.

Admin must be notified when an event is near capacity.
 -->
