{% extends 'base.html' %}
{% block heading %}
    {% if current_user.is_authenticated %}
        <div class="title subtitle">
            Welcome, {{ current_user.username }}
        </div>
    {% else %}
        <div class="title" id="mainTitle">
            eventbyte
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="loginFlashes">
            {% for message in messages %}
            <p> {{ message }} </p>
            {% endfor %} 
        </div>
        {% else %}
            {% if not current_user.is_authenticated %}
                <h3 class="standardContent" style="text-align: center; margin-top: 3px;">To book or edit your events, log in or register.</h3>
            {% else %}
                <br>
            {% endif %}
        {% endif %}
    {% endwith %}

    {% include "eventList.html" %}
    <br><br>
    <script src="../static/js/home.js"></script>
{% endblock %}