{% extends 'base.html' %}

{% block heading %}
    <div "title subtitle">
        Enter new password.
    </div>
{% endblock %}
{% block content %}
    <div id="newPasswordFormContainer">
        <form id="setNewPassword" method="post" action="requestedPasswordReset">
            <div class="row">
                <div class="formGroup">
                    <input type="hidden" name="email" value="{{email}}">
                    <p>
                        <label for="password">Password</label>
                        <input type="password" name="password">
                    </p>
                </div>
                <div class="formGroup">
                    <p>
                        <label for="cPassword">Confirm Password</label>
                        <input type="password" name="cPassword">
                    </p>
                </div>
            </div>
            <input type="submit" value="submit">
        </form>    
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}     
        {% endif %}
    {% endwith %}
{% endblock %}