{% extends 'base.html' %}

{% block heading %}
    <div class="title subtitle">
        Enter new password.
    </div>
{% endblock %}
{% block content %}
    <div id="newPasswordFormContainer">
        <form id="setNewPassword" method="post" action="requestedPasswordReset">
            <div class="row">
                <div class="formGroup">
                    <input type="hidden" name="email" value="{{email}}">
                    <p>
                        <label for="password">Password</label>
                        <input type="password" name="password">
                    </p><br>
                </div>
                <div class="formGroup">
                    <p>
                        <label for="cPassword">Confirm Password</label>
                        <input type="password" name="cPassword">
                    </p><br>
                </div>
            </div>
            <br><br>
            <input type="submit" value="Submit New Password">
        </form>    
        <br><br><br><br><br><br>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="loginFlashes">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}     
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}