{% extends 'base.html' %}

{% block heading %}
    <div class="title subtitle">
        Event Information
    </div>
{% endblock %}

{% block content %}
    <div class="eventInformation">
        <br>
        <span class="titleRef" style="font-size: 50px;">{{ event.name }}</span><br>
        {{ event.dateTime.strftime('%A') }} {{ event.dateTime.strftime('%d') }} {{ event.dateTime.strftime('%b') }} {{ event.dateTime.strftime('%Y') }}<br>
        {{ event.dateTime.strftime('%H') }}:{{ event.dateTime.strftime('%M') }}<br>
        {{ event.duration }} minutes<br>
        {{ event.location }}<br>
        {% if current_user.userClass == "super" %}
            {{ event.capacity }} seats left<br><br>
        {% else %}
            <br>
        {% endif %}
    </div>
        {% if not current_user.is_authenticated %}
            <h3 class="standardContent" style="text-align: center; margin-top: 3px;">To book or edit your events, log in or register.</h3>
        {% else %}
            {% if upcomingEvent %}
                {% if current_user.userClass == "standard" %}
                    {% if not event.ticketsSold == event.capacity %}
                        <div id="standardEventButtons">
                            {% if not eventOwned %}
                                <form action="buyTicket" method="post">
                                    <input type="hidden" name="eventID" value="{{event.event_id}}">
                                    <input type="submit" id="bookEventButton" value="Book Ticket">
                                </form>
                            {% else %}   
                                <form action="cancelTicket" method="post">
                                    <input type="hidden" name="eventID" value="{{event.event_id}}">
                                    <input type="submit" id="cancelEventButton" value="Cancel Ticket">
                                </form>
                            {% endif %}
                        </div>
                        <br>
                    {% else %}
                        <div id="eventMessage">
                            <h3>This event is sold out.</h3>
                        </div>
                    {% endif %}
                <!-- Admin access to delete event -->
                {% else %} 
                    <div id="adminEventButtons">
                        <a href="/deleteEvent?eventid={{event.event_id}}"><button>Delete Event</button></a>
                        <a href="/editEvent?eventid={{event.event_id}}"><button>Edit Event</button></a>
                        <a href="/viewEventAttendees?eventid={{event.event_id}}"><button>View Event Attendees</button></a>
                    </div>
                {% endif %}
            <!-- The event has already taken place. -->
            {% else %}
                <div id="eventMessage">
                    {% if current_user.userClass == "standard" %}
                        <h3>This event is over. Tickets cannot be bought.</h3>
                    {% else %}
                        <h3>Event cannot be edited as it has been completed.</h3>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
        <!-- <div class="bookingSeats">
            (SEAT SELECTION WILL BE HERE)
        </div> -->

{% endblock %}